.mnv-logo {
    display: inline-block; /* Ensures the circle only takes up space it needs */
    border-radius: 40%; /* Makes the shape of the circle */
    border: 2px solid black; /* Border style */
    padding: 5px; /* Adjust as needed */
  }
  .mnv-logo a {
    display: inline-block; /* Ensures the link takes up space it needs */
  }
  .mnv-logo a:hover i {
    color: rgb(234, 220, 220); /* Change color on hover */
  }
  